* {
    font-family: sans-serif;
}

#faceWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#face {
    display: inline-block;
    text-align: center;
    border-width: 0 0 1px;
    border-style: solid;
    border-radius: 100%;
    padding: 1000px 40px 50px;
    margin: -1000px -80px 0;
}

:root {
    --keySize: 100px;
}

#output {
    display: block;
    width: 500px;
    height: 500px;
    color: black;
    font-weight: bold;
    overflow-y: auto;
    background-color: lime;
}

#controls {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

#tapButtons button, .wasdLayout button {
    background-color: yellow;
    width: var(--keySize);
    height: var(--keySize);
    font-weight: bold;
    margin: 2px;
}

#tapButtons button[on], .wasdLayout button[on] {
    background-color: red;
}

.wasdLayout > * {
    display: flex;
    justify-content: center;
}

#nose {
    text-align: center;
    font-size: 60px;
    margin-top: -50px;
}

#mouth {
    text-align: center;
    font-size: 200px;
    margin-top: -120px;
    padding-bottom: 50px;
    transform: scaleX(1.5);
}

.ear {
    font-size: 50px;
}

.inverse {
    transform:scaleX(-1);
}
